@model MyStore.App.ViewModels.ProductTypeModel

@{var classText = ViewBag.IsChild ? "list-group-item" : string.Empty;}
<a href="@Url.Action("Index",
                    "Product",
                     new { slug = Model.TypeUrl })"
   class="@classText">
    <span class="badge pull-right">@Model.TotalProduct</span>
    @Model.TypeDesc
</a>
